*
	margin: 0
	padding: 0

body
	font-family: Verdana, sans-serif
	#pagepiling
		#section1
			width: 100%
			height: 100%
			figure
				width: 100%
				img
					width: 200px
			
		#section2
			width: 100%
			height: 100%

		#section3
			width: 100%
			height: 100%
			color: white
			font-size: 100px
			section
				width: 1024px
				margin: 0 auto
				text-align: center
				span
					padding: 0 35px

		#section4
			width: 100%
			height: 100%					
					

			