* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
}
body #pagepiling #section1 {
  width: 100%;
  height: 100%;
}
body #pagepiling #section2 {
  width: 100%;
  height: 100%;
}
body #pagepiling #section3 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 100px;
}
body #pagepiling #section3 section {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}
body #pagepiling #section3 section span {
  padding: 0 35px;
}
